.myprofile-container {
  width: 100vw;
  min-height: 100vh;
  background-color: aliceblue;
  padding: 5%;
  color: rgb(17, 112, 255);
  color:rgb(229, 241, 252);
  color: rgb(131, 131, 131);
  color: rgb(29, 82, 255);
}
